
h1 {
    /* using color names */
    /* color:blue; */

/* hexdecimal */
color: #ff7f50;

/* rgb */
/* color: rgb(125, 0, 125); */


}

body {
    background-color: rgb(0, 0, 0);
    
}

div {
    color: white;
    height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    display: inline-flex;
    
}
