h1 {
    color: blueviolet;

   text-align: center;

   text-decoration: overline;

   text-transform:uppercase ;

   font-size: 70px;

   text-shadow: 6px 8px 3px black;

}
p {
    text-indent: 50px;

}
