.static{
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: static;
}

.relative {
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: relative;
    left: 100px;
    
}

.absolute {
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: absolute;
    
}

.fixed {
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: fixed;
    
}

.sticky-box {
    background: orange;
    padding: 20px;
    font-size: 20px;
    color: white;
    border-radius: 8px;

    position: sticky;
    top: 0; /* Sticks to the top when reached */
}
